.footer {
    margin-top: 10rem;
    background-color: rgb(36, 36, 36);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.footer-container {
    max-width: 950px;
    margin-left: 7rem;
}

.footer-item {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.footer-item .logo h1 {
    font-size: 45px;
    color: white;
    font-family: "Sevillana", cursive;
    font-weight: 500;
    font-style: normal;
}

.item-icons {
    justify-content: center;
    margin-left: auto;
    gap: 30px;
}

.item-icons h5 {
    font-size: 25px;
    color: white;
    margin-bottom: 1.3rem;
}

.item-icons i {
    margin-right: 2rem;
    color: white;
    font-size: 40px;
}

.links {
    margin-top: 5rem;
    gap: 20px;
    display: flex;
    /* align-items: center; */
    margin-left: 1rem;
}

.layanan i {
    font-size: 40px;
    color: white;
    align-items: center;
}
.layanan i span{
    font-size: 25px;
    color: white;
    margin-left: 1rem;
}

.hari {
    margin-top: 0.5rem;
}

.hari p {
    color: white;
}

.links-compt {
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.links h5 {
    font-size: 25px;
    color: white;
    font-weight: 500;
}

.links a {
    font-size: 20px;
    margin-right: 2rem;
    color: white;
    font-weight: 400;
}

.email {
    margin-top: 1rem;
}

.email i span {
    font-size: 23px;
}

@media screen and (max-width: 897px) {
    .footer-item {
        flex-direction: column;
    }
    .item-icons {
        margin: 0;
        margin-top: 2rem;
        margin-left: 1rem;
    }
    .links {
        flex-direction: column;
    }
    .footer-container {
        margin-left: 1%;
        margin-right: 1%;
    }
    .links-compt {
        margin: 0;
    }
}